# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
package com.tardis.pilldispenser;

/**
 * Hello world!
 *
 */


import com.amazonaws.services.iot.client.AWSIotDevice;
import com.amazonaws.services.iot.client.AWSIotException;
import com.amazonaws.services.iot.client.AWSIotMqttClient;
import com.amazonaws.services.iot.client.sample.sampleUtil.SampleUtil;
import com.amazonaws.services.iot.client.sample.sampleUtil.SampleUtil.KeyStorePasswordPair;
/**
 * Hello world!
 *
 */
public class App 
{
    public static String motor( String condition )
    {
    	
    	//String clientEndpoint = "a2zh8rj9wu8i0t.iot.us-east-1.amazonaws.com";
    	String clientEndpoint ="a2zh8rj9wu8i0t-ats.iot.us-east-1.amazonaws.com";
    	String clientId = "Luffyclient";

    	String certificateFile = "a2f13f7e06-certificate.pem.crt";

    	String privateKeyFile = "a2f13f7e06-private.pem.key";

    	KeyStorePasswordPair pair = SampleUtil.getKeyStorePasswordPair(certificateFile,privateKeyFile);

    	AWSIotMqttClient client = new AWSIotMqttClient(clientEndpoint, clientId, pair.keyStore, pair.keyPassword);
    	
    	AWSIotDevice awsIotDevice = new AWSIotDevice("Luffy");
    	
    	try {

    		client.attach(awsIotDevice);

    		client.connect();

    		String jsonDocument = awsIotDevice.get();
    		System.out.println(jsonDocument);
    		String newdata= "{\r\n" + 
    		        "\r\n" + 
    		        " \"state\":{\r\n" + 
    		        "\"desired\": \r\n" + 
    		        "{\r\n" + 
    		        "    \"motor\": \"off\"\r\n" + 
    		        "  },\r\n" + 
    		        "  \r\n" + 
    		        "\"reported\": \r\n" + 
    		        "{\r\n" + 
    		        " \r\n" + 
    		        "   \"motor\": \""+condition+"\"\r\n" + 
    		        "  }\r\n" + 
    		        "}};";
    		awsIotDevice.update(newdata);

    		client.disconnect(); 
    		return "Ok ,Now take the pill";

    		} catch (AWSIotException e) {

    		e.printStackTrace();
    		return "There is no such pill in the schedule";

    		}

    		}
    
    
    }

